POSTGRES_PASSWORD=change-me

MYSQL_SENSOR_HOST=192.168.1.147
MYSQL_SENSOR_PORT=3306
MYSQL_SENSOR_USER=mahasiswa
MYSQL_SENSOR_PASS=change-me

MYSQL_WEATHER_HOST=192.168.1.147
MYSQL_WEATHER_PORT=3306
MYSQL_WEATHER_USER=mahasiswa
MYSQL_WEATHER_PASS=change-me

MYSQL_LOAD_HOST=192.168.1.149
MYSQL_LOAD_PORT=3306
MYSQL_LOAD_USER=mahasiswa
MYSQL_LOAD_PASS=change-me

MAX_SOURCE_AGE_SECONDS=180
MAX_SOURCE_SKEW_SECONDS=120
MAX_INTERVAL_SECONDS=300
ESTIMATOR_RETRY_MINUTES=10
RESTART_COOLDOWN_SECONDS=600
MAX_RESTARTS=3
